[submodule "submodules/googletest"]
	path = submodules/googletest
	url = https://github.com/google/googletest/
[submodule "submodules/parsing"]
	path = submodules/parsing
	url = https://github.com/ArneDePeuter/parsing.git
